In [1]:
import pandas as pd
import functions as fn

In [2]:
cals = fn.open_cals_file('cals.txt')

In [3]:
cals

{'Общий': 'https://calendar.google.com/calendar/ical/grinkevichgex%40gmail.com/private-acf1e2f93eb55461f4fcb1c21e917169/basic.ics',
 'Быт': 'https://calendar.google.com/calendar/ical/bv6595ijs9c44ato3r8fb7m7q4%40group.calendar.google.com/private-f8c7c3dadc2e3ce214dd0f59503b0878/basic.ics',
 'Дорога': 'https://calendar.google.com/calendar/ical/bv6595ijs9c44ato3r8fb7m7q4%40group.calendar.google.com/private-f8c7c3dadc2e3ce214dd0f59503b0878/basic.ics',
 'Еда': 'https://calendar.google.com/calendar/ical/inquvd5l166rpghr03ssc152u0%40group.calendar.google.com/private-2e850cf70ed5e06e39d61bdcc19adbfa/basic.ics',
 'Сон': 'https://calendar.google.com/calendar/ical/b8aiggocfqk5civg5tqceh3ckk%40group.calendar.google.com/private-bc6a4537563a0b7259428ed1dffd6a8c/basic.ics',
 'Тренирвки': 'https://calendar.google.com/calendar/ical/s22sjiq9h8g98447t17k83crg4%40group.calendar.google.com/private-784e14ef59d56add0e1c5e48bd63c957/basic.ics',
 'Учеба': 'https://calendar.google.com/calendar/ical/csnoal8l8u4j6jnru48vuq18n8%40group.calendar.google.com/private-6553f2b48dc3575ec15a58fe94dc29e0/basic.ics',
 'Sima': 'https://calendar.google.com/calendar/ical/n1jc1v4lpkc3adgn80qb1r76t0%40group.calendar.google.com/private-66ca04810528d34da54314961b741846/basic.ics',
 'Тест': 'https://calendar.google.com/calendar/ical/4776822995e93bcb2b0e17a8e9f8d59e8c27deadd9b8d65ee7111976c96a3add%40group.calendar.google.com/private-49b17c42fd7686307197ff53241c781f/basic.ics',
 'Яндекс': 'https://calendar.yandex.ru/export/ics.xml?private_token=6aedacbc4a8d2234a98c4d52bbc255401e6bacfd&tz_id=Asia/Yekaterinburg',
 'РабочийЗадачи': 'https://calendar.yandex.ru/export/ics.xml?private_token=af26788303898b2560a54f65a6fac8a0cdf7db72&tz_id=Asia/Yekaterinburg',
 'РабочийВстречи': 'https://calendar.yandex.ru/export/ics.xml?private_token=2e97636928fa46925c384a558b9a5f691fa6d78b&tz_id=Asia/Yekaterinburg'}

In [4]:
t = fn.get_cal(cals['Тест'])

In [5]:
t

[{'DTSTART': 'TZID=Asia/Yekaterinburg:20230919T150000',
  'DTEND': 'TZID=Asia/Yekaterinburg:20230919T160000',
  'RRULE': 'FREQ=DAILY',
  'SEQUENCE': '0',
  'STATUS': 'CONFIRMED',
  'SUMMARY': '1'},
 {'DTSTART': 'TZID=Asia/Yekaterinburg:20230919T160000',
  'DTEND': 'TZID=Asia/Yekaterinburg:20230919T170000',
  'RRULE': 'FREQ=WEEKLY:BYDAY=TU',
  'SEQUENCE': '0',
  'STATUS': 'CONFIRMED',
  'SUMMARY': '2'},
 {'DTSTART': 'TZID=Asia/Yekaterinburg:20230919T170000',
  'DTEND': 'TZID=Asia/Yekaterinburg:20230919T180000',
  'RRULE': 'FREQ=MONTHLY:BYDAY=3TU',
  'SEQUENCE': '0',
  'STATUS': 'CONFIRMED',
  'SUMMARY': '3'},
 {'DTSTART': 'TZID=Asia/Yekaterinburg:20230919T190000',
  'DTEND': 'TZID=Asia/Yekaterinburg:20230919T200000',
  'RRULE': 'FREQ=WEEKLY:WKST=MO:BYDAY=TU,WE,FR',
  'SEQUENCE': '0',
  'STATUS': 'CONFIRMED',
  'SUMMARY': '5'},
 {'DTSTART': 'TZID=Asia/Yekaterinburg:20230919T200000',
  'DTEND': 'TZID=Asia/Yekaterinburg:20230919T210000',
  'RRULE': 'FREQ=DAILY:UNTIL=20231024T185959Z',
  'SEQUENCE': '0',
  'STATUS': 'CONFIRMED',
  'SUMMARY': '6'},
 {'DTSTART': 'VALUE=DATE:20230918',
  'DTEND': 'VALUE=DATE:20230919',
  'SEQUENCE': '0',
  'STATUS': 'CONFIRMED',
  'SUMMARY': '12'},
 {'DTSTART': 'TZID=Asia/Yekaterinburg:20230918T180000',
  'DTEND': 'TZID=Asia/Yekaterinburg:20230918T190000',
  'RRULE': 'FREQ=WEEKLY:BYDAY=FR,MO,TH,TU,WE',
  'SEQUENCE': '0',
  'STATUS': 'CONFIRMED',
  'SUMMARY': '4'},
 {'DTSTART': 'TZID=Asia/Yekaterinburg:20230918T210000',
  'DTEND': 'TZID=Asia/Yekaterinburg:20230918T220000',
  'RRULE': 'FREQ=WEEKLY:WKST=MO:BYDAY=MO,TU,WE,TH,FR,SA,SU',
  'SEQUENCE': '0',
  'STATUS': 'CONFIRMED',
  'SUMMARY': '7'},
 {'DTSTART': 'TZID=Asia/Yekaterinburg:20231030T200000',
  'DTEND': 'TZID=Asia/Yekaterinburg:20231030T210000',
  'RRULE': 'FREQ=MONTHLY:BYMONTHDAY=30',
  'SEQUENCE': '0',
  'STATUS': 'CONFIRMED',
  'SUMMARY': '8'},
 {'DTSTART': 'TZID=Asia/Yekaterinburg:20231107T200000',
  'DTEND': 'TZID=Asia/Yekaterinburg:20231107T210000',
  'RRULE': 'FREQ=MONTHLY:BYDAY=1TU',
  'SEQUENCE': '0',
  'STATUS': 'CONFIRMED',
  'SUMMARY': '9'}]

In [6]:
fn.dict_to_df(t)

,dtstart,dtend,rrule,sequence,status,summary,dtstart_time,dtend_time,st_date,duration
0,2023-09-19 15:00:00,2023-09-19 16:00:00,FREQ=DAILY,0,CONFIRMED,1,150000,160000,2023-09-19,1.0
1,2023-09-19 16:00:00,2023-09-19 17:00:00,FREQ=WEEKLY:BYDAY=TU,0,CONFIRMED,2,160000,170000,2023-09-19,1.0
2,2023-09-19 17:00:00,2023-09-19 18:00:00,FREQ=MONTHLY:BYDAY=3TU,0,CONFIRMED,3,170000,180000,2023-09-19,1.0
3,2023-09-19 19:00:00,2023-09-19 20:00:00,"FREQ=WEEKLY:WKST=MO:BYDAY=TU,WE,FR",0,CONFIRMED,5,190000,200000,2023-09-19,1.0
4,2023-09-19 20:00:00,2023-09-19 21:00:00,FREQ=DAILY:UNTIL=20231024T185959Z,0,CONFIRMED,6,200000,210000,2023-09-19,1.0
6,2023-09-18 18:00:00,2023-09-18 19:00:00,"FREQ=WEEKLY:BYDAY=FR,MO,TH,TU,WE",0,CONFIRMED,4,180000,190000,2023-09-18,1.0
7,2023-09-18 21:00:00,2023-09-18 22:00:00,"FREQ=WEEKLY:WKST=MO:BYDAY=MO,TU,WE,TH,FR,SA,SU",0,CONFIRMED,7,210000,220000,2023-09-18,1.0
8,2023-10-30 20:00:00,2023-10-30 21:00:00,FREQ=MONTHLY:BYMONTHDAY=30,0,CONFIRMED,8,200000,210000,2023-10-30,1.0
9,2023-11-07 20:00:00,2023-11-07 21:00:00,FREQ=MONTHLY:BYDAY=1TU,0,CONFIRMED,9,200000,210000,2023-11-07,1.0

In [7]:
t1 = fn.dict_to_df(t)

In [8]:
t1['summary'].unique()

array(['1', '2', '3', '5', '6', '4', '7', '8', '9'], dtype=object)

In [9]:
t1['rrule']

0                                        FREQ=DAILY
1                              FREQ=WEEKLY:BYDAY=TU
2                            FREQ=MONTHLY:BYDAY=3TU
3                FREQ=WEEKLY:WKST=MO:BYDAY=TU,WE,FR
4                 FREQ=DAILY:UNTIL=20231024T185959Z
6                  FREQ=WEEKLY:BYDAY=FR,MO,TH,TU,WE
7    FREQ=WEEKLY:WKST=MO:BYDAY=MO,TU,WE,TH,FR,SA,SU
8                        FREQ=MONTHLY:BYMONTHDAY=30
9                            FREQ=MONTHLY:BYDAY=1TU
Name: rrule, dtype: object

In [10]:
# t2 = fn.events_by_rules(t1, '2023-11-01', '2023-11-24')
fn.events_by_rules(t1, '2023-11-01', '2023-12-24')

C:\Users\grinkevich\DataspellProjects\ICalParse\venv\functions.py:160: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rule_bord[field] = e[field]
C:\Users\grinkevich\DataspellProjects\ICalParse\venv\functions.py:160: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rule_bord[field] = e[field]
C:\Users\grinkevich\DataspellProjects\ICalParse\venv\functions.py:160: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rule_bord[field] = e[field]
C:\Users\grinkevich\DataspellProjects\ICalParse\venv\functions.py:160: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rule_bord[field] = e[field]

,timeline,dayofweek,month,day,dtstart,dtend,rrule,sequence,status,summary,dtstart_time,dtend_time,st_date,duration,index
0,2023-11-01,2.0,11.0,1.0,2023-09-19 15:00:00,2023-09-19 16:00:00,NaN,0,CONFIRMED,1,150000,160000,2023-09-19,1.0,NaN
1,2023-11-02,3.0,11.0,2.0,2023-09-19 15:00:00,2023-09-19 16:00:00,NaN,0,CONFIRMED,1,150000,160000,2023-09-19,1.0,NaN
2,2023-11-03,4.0,11.0,3.0,2023-09-19 15:00:00,2023-09-19 16:00:00,NaN,0,CONFIRMED,1,150000,160000,2023-09-19,1.0,NaN
3,2023-11-04,5.0,11.0,4.0,2023-09-19 15:00:00,2023-09-19 16:00:00,NaN,0,CONFIRMED,1,150000,160000,2023-09-19,1.0,NaN
4,2023-11-05,6.0,11.0,5.0,2023-09-19 15:00:00,2023-09-19 16:00:00,NaN,0,CONFIRMED,1,150000,160000,2023-09-19,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,NaT,NaN,NaN,NaN,NaT,NaT,"[MO, TU, WE, TH, FR, SA, SU]",0,CONFIRMED,7,210000,220000,2023-09-18,1.0,NaN
98,NaT,NaN,NaN,NaN,NaT,NaT,MONTHLY,0,CONFIRMED,8,200000,210000,2023-10-30,1.0,NaN
99,NaT,NaN,NaN,NaN,NaT,NaT,30,0,CONFIRMED,8,200000,210000,2023-10-30,1.0,NaN
100,NaT,NaN,NaN,NaN,NaT,NaT,MONTHLY,0,CONFIRMED,9,200000,210000,2023-11-07,1.0,NaN
101,NaT,NaN,NaN,NaN,NaT,NaT,1TU,0,CONFIRMED,9,200000,210000,2023-11-07,1.0,NaN

In [19]:
t2 = fn.events_by_rules(t1, '2023-11-01', '2023-11-24')
t2['summary'].unique()

C:\Users\grinkevich\DataspellProjects\ICalParse\venv\functions.py:160: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rule_bord[field] = e[field]
C:\Users\grinkevich\DataspellProjects\ICalParse\venv\functions.py:160: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rule_bord[field] = e[field]
C:\Users\grinkevich\DataspellProjects\ICalParse\venv\functions.py:160: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rule_bord[field] = e[field]
C:\Users\grinkevich\DataspellProjects\ICalParse\venv\functions.py:160: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rule_bord[field] = e[field]

array(['1', '2', '3', '5', '6', '4', '7', '8', '9'], dtype=object)

In [11]:
# t1.query("dtstart >= '2023-10-30' and dtstart <='2023-11-05'") \
#     .sort_values('dtstart', ascending=False) \
#     .groupby('summary')['duration'].sum()

In [12]:
# pd.pivot_table(
#     t1.query("dtstart >= '2023-10-30' and dtstart <='2023-11-05'"),
#     index='summary',
#     values=['duration'],
#     aggfunc='sum'
# )

In [13]:
# t1[t1['dtstart'] >= '2023-10-16'].groupby('summary')['duration'].sum()

In [14]:
# a = fn.events_by_rules(t1, '2023-09-18', '2023-11-24')

In [15]:
from datetime import datetime as dt

In [16]:
date_value = dt.today()

In [17]:
def week_number_of_month(date_value):
    return (date_value.isocalendar()[1] - date_value.replace(day=1).isocalendar()[1] + 1)

In [18]:
date_value.isocalendar()[1]

45